#navbar {
    width: 100%;
    background: var(--var-color-primary) !important;
    margin-bottom: 10rem;
}

.navbar-brand__icon {
    color: var(--var-color-accent);
}

.navbar-brand {
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 1px;
    padding: .3rem 1rem;
    transition: all .3s;
}

.navbar-brand:hover {
    transform: perspective(80px) translateZ(3px);
    opacity: .8;
}

.nav-link,
.nav-item {
    color: var(--var-color-primary);
    background: var(--var-color-accent);
    border-radius: 19px;
    padding: .3rem 1rem;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 600;
    transition: all .3s;
}

.nav-item {
    margin-left: 1rem;
}

.nav-item:hover {
    opacity: .8;
    background: var(--var-color-accent);
    color: var(--var-color-primary);
    transform: perspective(80px) translateZ(3px);
}

.nav-link:hover {
    color: var(--var-color-primary)
}

#navbarNavDropdown {
    justify-content: flex-end;
}